<html>
<DIV style="TEXT-ALIGN: left;
color=#ffffff"> 
  <form method="post",action="/refresh">
  <button value="refresh" type="submit";">Refresh</button>
                                         </form>
</DIV>
<ul></ul>
<head>
<link rel="icon" href="data:;base64,=">
</head>
<body bgcolor="#E6E6FA">
<ul><big>

{% for article in articles["articles"] %}
{% for art in article.values() %}
<li>{{ art}}</li>
{% endfor %}
{% endfor %}
</big>
</ul>


<DIV style="TEXT-ALIGN: left; color:#000000"><p><b>Источник:</b> <ins>{{ articles['url'] }}</ins></p></DIV>
<DIV style="TEXT-ALIGN: right; color:#000000"><p><b>Дата:</b> {{ articles['creationDate'] }}</p></DIV>

</body>
</html>
